<div class="one">
<h2>
    Veg :
</h2>
<ol><li>Veg Biryani  .....179</li><br><li>Panneeer  Biryani  .....199</li><br><li>Jeera Rice  .....200</li><br><li>Cured Rice  .....139</li><br><li>Steam Rice  .....139</li><br><li>Veg .Fmaily Biryani  .....599</li></ol></div>
<div class="two">
    <h2>Non-Veg</h2>
    <ol><li>C.Dum Biryani  .....220</li><br><li>C.65  Biryani  .....239</li><br><li>Mutton Biryani .....259</li><br><li>Prawns Biryani .....259</li><br><li>Egg Biryani  .....199</li><br><li>C .Fmaily Biryani  .....599</li></ol>

    </div>
    <div class="three">
        <h2>Pulav</h2>
        <ol><li>Veg Pulav  .....279</li><br><li>Kaju Pulavu  .....499</li><br><li>Panneer Pulauv .....200</li><br><li>jeera Puklvu  .....299</li><br><li>Kodi Pulavu  .....399</li><br><li>Nv .Fmaily Biryani  .....599</li></ol>
    
        </div>
        <div class="four"></div><div class="five"></div>
        