<div class="rrr">
    <img src="https://t3.ftcdn.net/jpg/04/59/27/90/360_F_459279004_n37eOfpjQxFkcPWtiayxiU9HOohfVDeZ.jpg">
</div>


<h1>A RESTURENT CAN FOLLOW SOME RULES TO MAKE A GOOD RESTURENT</h1>
<OL>
    <li>Hihg Quality Food</li><br><li>The ambience of the restaurant</li><br>
    <li>Dining experience</li><br><li>Cleanliness and Safety</li><br>
    <li>Unique dishes</li><br> <li>Grand Welcome</li><br> <li>Best Serve</li> <br><li>Enjoy Music</li>
</OL>
<audio controls>
    <source src="https://wynk.in/music/song/background-for-outdoor-dining/hu_63052575">
    </audio>
