<body>
    <ol>
    <li>Braek Fast
        <br>
        <br><ul> - Omeletes</ul>
        <ul>- Southren Tour</ul> <ul>- Sides</ul> <ul>- Bencdicts</ul> <ul>- Pan Cakes</ul>  <ul>- Drinks</ul></ol>
        <div class="two">

            <ol>
                <li>Brunch Foods
                    <br>
                    <br><ul> - Blintzes</ul>
                    <ul>- Belgain waffle</ul> <ul>- Hash Browns</ul> <ul>- Quiche</ul> <ul>- Smoked Salgons</ul>  <ul>- Velgons</ul></ol>


        </div>
        <div class="three">

            <ol>
                <li>lunch Foods
                    <br>
                    <br><ul> - Masala bhindi</ul>
                    <ul>- Chicken birayani</ul> <ul>- Mattoun</ul> <ul>- Kashmiri ramja</ul> <ul>- Shadhi egg curry</ul>  <ul>- Paneer acahari</ul></ol>


        </div> <div class="four">

            <ol>
                <li>Dinner Foods
                    <br>
                    <br><ul> -  Pizza</ul>
                    <ul>- Potato curry</ul> <ul>- Chicken pot pie </ul> <ul>- Corn dogs</ul> <ul>- Calzones</ul>  <ul>- French bread pizza</ul></ol>


        </div>
    
        <div class="five">

            <ol>
                <li>Soups
                    <br>
                    <br><ul> - Chicken Soup</ul>
                    <ul> - Cream Soup</ul> <ul>- Sweet Corn </ul> <ul>- Lamb Shake </ul> <ul>- Curried Soups</ul>  <ul>- Pumpkin</ul></ol>


        </div>
    
    
</body>