li{
    margin-left: 2px;
    font-style:oblique;
    font-size: 30px;
    
}
.two{
   margin-top: -290px; 
   margin-left: 290px;
}
.three{
    margin-top: -290px; 
    margin-left: 600px;
 }
 .four{
    margin-top: -290px; 
    margin-left: 900px;
 }
 .five{
    margin-top: -290px; 
    margin-left: 1200px;
 }