<body>
    <h2>WELCOME TO OUR  RESTAURANT</h2>
    <div class="one">
    </div>
    <div class="two">
    </div>
    <div class="threee">
    </div>
    <div class="four">
    </div>
    <div class="five">
    </div>
    <div class="six">
    </div><div class="para">
    <p>A barbecue restaurant is a restaurant that specializes in barbecue-style cuisine and dishes.Barbecue restaurants may open relatively early compared to other restaurants, in part to optimize sales while barbecued foods being slow-cooked by the process of
          smoking are being tended to by restaurant personnel on premises.</p></div>


</body>
      