<body>
    <h2>WELCOME TO OUR  RESTAURANT</h2>
    <div class="one">
    </div>
    <div class="two"    >
        <img class="two" src="assets/images/apple.jpg" alt="" />
    </div>
    <div class="threee">
    </div>
    <div class="four">
        <img class="four" src="assets/images/dog.jpg" alt="" />
    </div>
    <div class="five">
        <img class="five" src="assets/images/parking.jpg" alt="" />
    </div>
    <div class="six">
        <img class="six" src="assets/images/wifi.jpg" alt="" />
    </div><div class="para">
    <p>A barbecue restaurant is a restaurant that specializes in barbecue-style cuisine and dishes.Barbecue restaurants may open relatively early compared to other restaurants, in part to optimize sales while barbecued foods being slow-cooked by the process of
          smoking are being tended to by restaurant personnel on premises.</p></div>


</body>
      