.one{
    
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/423/042/small/free-shipping-delivery-service-logo-badge-vector.jpg');
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
h2{
    text-align: center;
    font-style:italic ;
}
.two{
    /* background-image: url("");  */
    position: absolute;
    margin-left: 100px;
    height: 52%;
    width: 44%;
    background-repeat:no-repeat ;
}
.threee{
   background-image: url('https://www.shutterstock.com/image-vector/dining-table-icon-logo-isolated-260nw-1728979714.jpg');
    position: absolute;
    margin-left: 470px;
    height: 28.5%;
    width: 40%;
    background-repeat:no-repeat ;
}
.four{
    /* background-image: url(''); */
     position: absolute;
     margin-left: 370px;
     height: 53%;
     width: 40%;
     background-repeat:no-repeat ;
 }
 .five{
    /* background-image: url(''); */
     position: absolute;
     margin-left: 494px;
     height: 53%;
     width: 42%;
     background-repeat:no-repeat ;
 }
 .six{
     position: absolute;
     /* background-image: url(''); */
     margin-left: 635px;
     height: 53%;
     width: 40%;
     background-repeat:no-repeat ;
 }
 .para{
   margin-top: 290px;
   font-size: 25px;
   font-style: oblique;
   color: black;
 }
 

 





